{% extends 'home.html' %}


{% block main_body %}




        <h1 align="center">Teachers Details</h1>

        <hr>
        <table>
            <thead>
                <tr>
                    <th>Emp Id</th>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Salary</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for i in teacher_data %}
                <tr>
                    <td>{{i.emp_id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.mobile}}</td>
                    <td>{{i.salary}}</td>
                    <td>{{i.city}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



        {% endblock main_body %}